* {
    margin: 0;
    padding: 0;
}

:root {
    --colorRed: #750f1d;
    --clorBlack: rgba(0, 0, 0, 0.9);
    --colorGold: #facb3e;
    --colorFlask: #da4e38;
    --fullHp: #2f911a;
    --lessHp: #75912b;
    --mediumHp: #b58700;
}

html {
    font-family: 'VT323', monospace;
    font-size: 62.5%;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    user-select: none;
}

.gamarea {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    overflow: hidden;
}

.row {
    display: flex;
    width: fit-content;
}

.floors {
    position: relative;
}

.heroInfo {
    display: flex;
    align-items: center;
    position: absolute;
    align-items: center;
    height: 4rem;
    width: 100%;
    color: white;
    font-size: 3rem;
    z-index: 5;
}

.live {
    height: 3.5rem;
    margin: 0 0.5rem 0 0;
}

.coin {
    margin: 0 0 0 1rem;
}

.flasks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    height: 6rem;
    z-index: 5;
}

.flask {
    cursor: pointer;
    background: url(img/icons/flask_big_empty.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 6rem;
    width: 6rem;
}

.full {
    background: url(img/icons/flask_big_.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.weapon {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 80vw);
    min-width: 7rem;
}

.eventContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) scaleX(-1);
}

.event {
    cursor: pointer;
}

.heroContainer {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-70%);
}

.eventHp,
.heroHp {
    position: absolute;
    margin: 1rem 0 0 0;
    height: 1rem;
    transition: 0.2s;
    z-index: 1;
}

.eventFullHp,
.heroFullHp {
    position: absolute;
    margin: 1rem 0 0 0;
    height: 1rem;
    width: 100%;
    background: black;
}

.panelLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

.weaponDamage {
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
}

.level {
    margin: 0 0 5rem 0;
}

.shopButton,
.newGameButton,
.continue,
.keyboardButton {
    color: white;
    background: var(--colorRed);
    font-family: 'VT323', monospace;
    box-shadow: 0 0.5rem #888888;
    outline: none;
    cursor: pointer;
}

.shopButton:active,
.newGameButton:active,
.continue:active,
.keyboardButton:active {
    box-shadow: 0rem 0.2rem #dcdcdc;
    transform: translateY(0.4rem);
}

.shopButton:active {
    border-right: 0.3rem #dcdcdc solid;
    border-bottom: 0.3rem #dcdcdc solid;
    border-left: 0.3rem #888888 solid;
    border-top: 0.3rem #888888 solid;
}

.shopButton {
    font-size: 3rem;
    width: 80%;
    height: 4.5rem;
    border-radius: 1rem;
    margin: 5rem 0 0 0;
    text-align: center;
    line-height: 4.5rem;
    border-top: 0.3rem #dcdcdc solid;
    border-left: 0.3rem #dcdcdc solid;
    border-right: 0.3rem #888888 solid;
    border-bottom: 0.3rem #888888 solid;
}

.endGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--clorBlack);
    z-index: 100;
}

.newGameButton,
.continue {
    font-size: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 5rem;
    min-width: 10rem;
}

.keyboardButton {
    border-radius: 1rem;
    padding: 0.5rem;
    min-height: 5rem;
    min-width: 11.6rem;
}

.continue,
.keyboardButton {
    margin: 2rem 0 0 0;
}

.keyboard {
    position: relative;
    cursor: pointer;
}

.keyboardMenu {
    box-sizing: border-box;
    position: absolute;
    color: white;
    font-size: 2rem;
    background: var(--clorBlack);
    border: 0.2rem var(--colorRed) solid;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80vw;
    left: 50%;
    top: 120%;
    width: 250%;
    transform: translateX(-50%);
    text-align: center;
}

.newGameButton {
    margin: 4rem 0 0 0;
}

.endGame h1 {
    width: 100%;
    text-align: center;
    color: var(--colorRed);
    font-size: 10rem;
    margin: 25vh 0 0 0;
}

.damage,
.damageMoob,
.levelUp,
.items,
.flasksAdd,
.exp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    width: 100%;
    text-shadow: 0rem 0rem 0.2rem black;
    animation: fly 1s;
}

.damage {
    color: var(--colorRed);
}

.damageMoob {
    color: var(--colorRed);
    transform: scaleX(-1);
}

.levelUp,
.items {
    color: var(--colorGold);
    animation: fly 2s;
}

.items,
.flasksAdd,
.exp {
    transform: scaleX(-1);
}

.flasksAdd {
    color: var(--colorFlask);
    animation: fly 2s 0.4s;
}

.exp {
    color: var(--colorGold);
    font-size: 2.5rem;
    animation: fly 1.5s;
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--clorBlack);
}

.shop div {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.weaponShop {
    max-height: 12%;
    margin: 3rem 0 0 0;
}

.weaponImg {
    max-height: 100%;
    margin: 0 2rem 0 0;
}

.experience {
    position: absolute;
    height: 0.5rem;
    background: var(--colorGold);
    margin: 3.2rem 0 0 0;
    transition: 0.4s;
}

@keyframes fly {
    0% {
        top: 0;
    }

    100% {
        top: -10rem;
    }
}

@media (max-width: 1025px) {
    .row img {
        width: calc(80vw /4);
        height: calc(80vw /4);
        max-height: 8rem;
        max-width: 8rem;
    }

    .endGame h1 {
        font-size: 5rem;
    }

    .heroContainer {
        transform: translateY(-70%) scale(0.9);
    }

    .eventContainer {
        transform: translateY(-60%) scaleX(-1) scale(0.9);
    }
}

@media (max-width: 370px) {
    .heroContainer {
        left: 5%;
        transform: translateY(-70%) scale(0.8);
    }

    .eventContainer {
        left: 45%;
        transform: translateY(-60%) scaleX(-1) scale(0.8);
    }
}

@media (max-height: 567px) {
    .endGame h1 {
        margin: 10vh 0 0 0;
    }
}

.none {
    display: none;
}