* {
    margin: 0;
    padding: 0;
}

:root {
    --colorRed: #750f1d;
    --clorBlack: rgba(0, 0, 0, 0.9);
}

html {
    font-family: 'VT323', monospace;
    font-size: 62.5%;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
}

.gamarea {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    overflow: hidden;
}

.row {
    display: flex;
    width: fit-content;
}

.floors {
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-60%);
}

.heroInfo {
    display: flex;
    align-items: center;
    position: absolute;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin: 5% 0 0 0;
    color: white;
    font-size: 3rem;
}

.heroInfo {
    position: absolute;
}

.live {
    height: 3.5rem;
    margin: 0 0.5rem 0 0;
}

.coin {
    margin: 0 0 0 1rem;
}

.flasks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    height: 6rem;
}

.flask {
    cursor: pointer;
    background: url(img/icons/flask_big_empty.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 6rem;
    width: 6rem;
}

.full {
    background: url(img/icons/flask_big_.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.weapon {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 80vw);
    min-width: 7rem;
}

.eventContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) scaleX(-1);
}

.event {
    cursor: pointer;
}

.eventHp {
    position: absolute;
    margin: 1rem 0 0 0;
    height: 1rem;
    background: var(--colorRed);
    transition: 0.2s;
    z-index: 1;
}

.eventFullHp {
    position: absolute;
    margin: 1rem 0 0 0;
    height: 1rem;
    width: 100%;
    background: black;
}

.panelLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

.level {
    margin: 0 0 5rem 0;
}

.panelLeft button {
    color: white;
    background: var(--colorRed);
    font-family: 'VT323', monospace;
    font-size: 3rem;
    width: 90%;
    height: 5rem;
    border-radius: 1rem;
    margin: 5rem 0 0 0;
    cursor: pointer;
}

.endGame {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clorBlack);
    z-index: 2;
}

.endGame button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'VT323', monospace;
    color: white;
    background: var(--colorRed);
    font-size: 3rem;
    border-radius: 1rem;
    padding: 1rem;
}

.endGame h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--colorRed);
    font-size: 10rem;
}

@media (max-width: 1025px) {
    .row img {
        width: calc(80vw /4);
        height: calc(80vw /4);
        max-height: 8rem;
        max-width: 8rem;
    }

    .heroInfo {
        height: 3rem;
        font-size: 2rem;
    }

    .live {
        height: 2rem;
    }

    .coin {
        height: 2rem;
    }

    .hero {
        left: 5%;
    }

    .endGame h1 {
        font-size: 5rem;
    }
}

.none {
    display: none;
}